<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th>Title</th>
      <th>Company</th>
      <th>Salary</th>
      <th>Summary</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Software Engineer - PEY Intern</td>
      <td>Intel</td>
      <td>--</td>
      <td>At least one course in digital logic.Experience listed below would be obtained through a combination of your school work/classes/research and/or relevant…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=1609de829bd5649d&fccid=936367796261bd6e&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>software engineer</td>
      <td>GitHub</td>
      <td>$136,000 a year</td>
      <td>Assess, troubleshoot, document, upgrade and develop maintenance procedures for operating systems, communications environments and applications software.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=26b2c54abf825dda&fccid=c594c442f5397e7b&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Jr. Software Engineer</td>
      <td>TechGuilds</td>
      <td>$36,000 - $40,000 a year</td>
      <td>.NET, C#, MVC, Sitecore, Sitecore Commerce, uCommerce, Coveo, and any other platform and technology that the Company work with.Basic knowledge of C#, ASP.NET.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=aaec21942df772eb&fccid=5bc5cb5156db4f04&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Entry Level Software Engineer</td>
      <td>Enable</td>
      <td>$70,000 a year</td>
      <td>As part of the Engineering team, you will be immersed in the full product engineering process, using modern software technologies, and contributing to the…</td>
      <td><a href="https://ca.indeed.com/company/Enable/jobs/Entry-Level-Software-Engineer-473c6bacc395368c?fccid=10d6c6a1cac7435b&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer</td>
      <td>Clutch Canada</td>
      <td>$90,000 - $155,000 a year</td>
      <td>Ability to pick up new software, frameworks and APIs quickly.You have at least 3 years of technical experience working in a product-driven environment.</td>
      <td><a href="https://ca.indeed.com/company/Clutch-Canada/jobs/Software-Engineer-0c9ad4dfffbf0874?fccid=5fb79bf1f6da0240&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer</td>
      <td>Deloitte</td>
      <td>--</td>
      <td>Mentoring junior engineers as needed.Collaborating with product managers, developers, designers and QA analysts to create best in class software.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=cb8966eb612a6280&fccid=9e215d88a6b33622&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>AMTS Software Engineer</td>
      <td>Salesforce</td>
      <td>$110,000 a year</td>
      <td>Work closely with a team of engineers, product managers, user experience experts and performance engineers to build new features our customers will love, adopt…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=dc2327175a2ab1e6&fccid=4027cfd917e1ee29&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer</td>
      <td>Red Thread Innovations</td>
      <td>--</td>
      <td>Working knowledge of software design patterns, such as Reactive Programming, MV\*, VIPER, etc.The Engineer will be primarily responsible for creating and…</td>
      <td><a href="https://ca.indeed.com/company/RED-THREAD-INNOVATIONS/jobs/Software-Engineer-86c8f9a8676139fe?fccid=c7a913aa7125ce9d&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer in Test</td>
      <td>Laserfiche</td>
      <td>--</td>
      <td>Ability to collaborate with and support fellow engineers.These engineers work in formal and informal environments, create and test intricate user stories, and…</td>
      <td><a href="https://ca.indeed.com/company/LaserFiche/jobs/Software-Engineer-Test-5af6ffa30172333a?fccid=4d3f4a82e1bbf0dd&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>VELOCITY - Tangerine - Software Developer Intern - Summer 20...</td>
      <td>Scotiabank</td>
      <td>--</td>
      <td>You will use your knowledge of analysis, design and programming techniques, development tools and database technologies to develop software changes or resolve…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=b562e1fbbd8ba961&fccid=3002307a9e5b4706&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Developer (Part-time/Contract)</td>
      <td>Execusoft Solutions Inc.</td>
      <td>$40 - $50 an hour</td>
      <td>Experience working on Full-Stack projects using PHP (or similar language), HTML, CSS.High-level of Knowledge of HTTP, REST APIs, OAuth.</td>
      <td><a href="https://ca.indeed.com/company/Execusoft-Solutions-Inc./jobs/Software-Developer-6ae998a6ba9a49de?fccid=d0cc383c91ccbd97&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Developer Intern (4 months)</td>
      <td>IBM</td>
      <td>--</td>
      <td>Interest in applied data science and keeping up with the latest advancements in software engineering.2 work-terms in a software engineering role.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=4ac01cf5cfd47081&fccid=de71a49b535e21cb&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Developer - ** New Graduates Only **</td>
      <td>Achievers</td>
      <td>--</td>
      <td>Work with other talented engineers and designers in teams of 5-8 to prototype and test your ideas.Build, Own and Maintain new innovative product features.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=69204593268bb130&fccid=a31d39aa57e3f105&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Associate Software Engineer</td>
      <td>Broadridge</td>
      <td>--</td>
      <td>The Associate Software Engineer will participate in the software development cycle (R&D, implementation, and testing) and be given the opportunity to interact…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=9d40b7bc08e0a1d6&fccid=55e246035f02c566&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Unity Software Engineer Co-op (Summer 2022)</td>
      <td>Electronic Arts</td>
      <td>--</td>
      <td>As a co-op student, you will not be stuck in a corner to work alone on a side project.You will work on features, UI and supporting systems for the Unity game…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=5ab46f018ddaa92c&fccid=617d7f961cfcf54a&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Developer (Part-time/Contract)</td>
      <td>Execusoft Solutions Inc.</td>
      <td>$40 - $50 an hour</td>
      <td>Experience working on Full-Stack projects using PHP (or similar language), HTML, CSS.High-level of Knowledge of HTTP, REST APIs, OAuth.</td>
      <td><a href="https://ca.indeed.com/company/Execusoft-Solutions-Inc./jobs/Software-Developer-6ae998a6ba9a49de?fccid=d0cc383c91ccbd97&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Developer Intern (4 months)</td>
      <td>IBM</td>
      <td>--</td>
      <td>Interest in applied data science and keeping up with the latest advancements in software engineering.2 work-terms in a software engineering role.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=4ac01cf5cfd47081&fccid=de71a49b535e21cb&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Developer - ** New Graduates Only **</td>
      <td>Achievers</td>
      <td>--</td>
      <td>Work with other talented engineers and designers in teams of 5-8 to prototype and test your ideas.Build, Own and Maintain new innovative product features.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=69204593268bb130&fccid=a31d39aa57e3f105&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Associate Software Engineer</td>
      <td>Broadridge</td>
      <td>--</td>
      <td>The Associate Software Engineer will participate in the software development cycle (R&D, implementation, and testing) and be given the opportunity to interact…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=9d40b7bc08e0a1d6&fccid=55e246035f02c566&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Unity Software Engineer Co-op (Summer 2022)</td>
      <td>Electronic Arts</td>
      <td>--</td>
      <td>As a co-op student, you will not be stuck in a corner to work alone on a side project.You will work on features, UI and supporting systems for the Unity game…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=5ab46f018ddaa92c&fccid=617d7f961cfcf54a&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>University Grad Software Engineer (Canada)</td>
      <td>Pinterest</td>
      <td>--</td>
      <td>Experience in previous software engineering internships.Execute scoped technical tasks end-to-end in collaboration with cross-functional Pinployees to help…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=18ccf0ee12bfc020&fccid=43014b1412e0a7b6&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineering Intern (Canada)</td>
      <td>Pinterest</td>
      <td>--</td>
      <td>2+ years of CS classes under your belt (Intro to CS and Algorithms, Advanced Algorithms, Operating Systems and Data Structures are all great!).</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=bcfe3a8132412c11&fccid=43014b1412e0a7b6&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Associate Software Engineer</td>
      <td>Veeva Systems</td>
      <td>--</td>
      <td>Strong computer science fundamentals (data structures, algorithms, and object-oriented design).As a new front-end, back-end or full-stack engineer you will…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=10f563d255f2b9d6&fccid=353eb997fc901045&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer</td>
      <td>Laserfiche</td>
      <td>--</td>
      <td>Collaborate with Technical Support engineers to solve issues that may be caused by a software defect.Adhere to the Laserfiche software development standard.</td>
      <td><a href="https://ca.indeed.com/company/LaserFiche/jobs/Software-Engineer-c9b5ed2df3a9bf1b?fccid=4d3f4a82e1bbf0dd&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Development Engineer (Entry Level)</td>
      <td>Jarvis</td>
      <td>--</td>
      <td>Diploma or degree in computer science, technology, engineering, or a mathematical discipline (STEM).Have completed at least one course (online or school)…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=146a20f6e9ab7dd3&fccid=be1d61a97eeef180&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Backend Software Engineer</td>
      <td>MI9 RETAIL</td>
      <td>--</td>
      <td>The software engineer will contribute to various modules of our Merchandise Management System (MMS).Identify opportunities for improvement and propose…</td>
      <td><a href="https://ca.indeed.com/company/Mi9Retail/jobs/Backend-Software-Engineer-52e9a4ed38877009?fccid=7ea105266c8d7b77&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Junior Software Engineer</td>
      <td>Optima Tele.com, Inc.</td>
      <td>--</td>
      <td>This job will occasionally require travel to facilities and locations operated by Optima’s customers.Knowledge of software life-cycle and agile methodologies.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=88953433e4f6a91e&fccid=eab16b28377d7bc7&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Developer, Summer 2022 Student Opportunities</td>
      <td>RBC</td>
      <td>--</td>
      <td>Currently enrolled at a Canadian post-secondary institution with a focus on computer science, engineering, or technology.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=42e155980a4461aa&fccid=537b899e30af3338&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Test Engineer</td>
      <td>STS</td>
      <td>$31 - $55 an hour</td>
      <td>A bachelor’s degree in computer science or a related subject, or comparable work experience is required.About the Role: * We’re searching for a knowledgeable,…</td>
      <td><a href="https://ca.indeed.com/company/STS/jobs/Software-Test-Engineer-ce4bb0fe3891a8e5?fccid=892e3a83eea709ea&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>VELOCITY - Software Engineering - Summer 2022</td>
      <td>Scotiabank</td>
      <td>--</td>
      <td>Deliver high quality implementations by practicing best software development practices.Throughout your undergrad, you have acquired basic knowledge in the…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=5309e001343063a7&fccid=3002307a9e5b4706&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Web Developer</td>
      <td>717990328RT0001</td>
      <td>$65,000 a year</td>
      <td>Participate in agile software development process and code reviews.Able to hand-code HTML and CSS without using packaged web design software.</td>
      <td><a href="https://ca.indeed.com/company/Choice-Talent-Agency/jobs/Web-Developer-21bbecc6950c8349?fccid=b324f1b21a9ac2b2&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer</td>
      <td>Clutch Canada</td>
      <td>$90,000 - $155,000 a year</td>
      <td>Ability to pick up new software, frameworks and APIs quickly.You have at least 3 years of technical experience working in a product-driven environment.</td>
      <td><a href="https://ca.indeed.com/company/Clutch-Canada/jobs/Software-Engineer-0c9ad4dfffbf0874?fccid=5fb79bf1f6da0240&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>software engineer</td>
      <td>OMEGA SOFTWARE SERVICES LTD.</td>
      <td>$44.50 an hour</td>
      <td>Lead and co-ordinate teams of information systems professionals in the development of software and integrated information systems, process control software and…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=f0fd22eee8cdd02f&fccid=6e642e4d2e5a833a&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer, Omniverse - New College Grad</td>
      <td>NVIDIA</td>
      <td>--</td>
      <td>Key member involved in the design, development, optimization, and documentation of our OmniGraph project for our Omniverse platform.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=34177080dd1622ef&fccid=c267f29f0f85e8b8&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Development Engineer (Entry Level)</td>
      <td>Jarvis</td>
      <td>--</td>
      <td>Diploma or degree in computer science, technology, engineering, or a mathematical discipline (STEM).Have completed at least one course (online or school)…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=146a20f6e9ab7dd3&fccid=be1d61a97eeef180&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>WEB DEVELOPER INTERN</td>
      <td>MANI WONDERS</td>
      <td>--</td>
      <td>Mani Wonders Inc. is an emerging product design brand paving a niche in the fashion technology space. The tech-infused lifestyle products are designed in…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=a4d8dda65bbd8b3d&fccid=8fda6fd341239a23&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Summer 2022 - Software Developer Intern</td>
      <td>Konrad</td>
      <td>--</td>
      <td>Strong command of important core programming and computer science concepts.Participate in code review and performing extensive testing to ensure high quality…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=35d3d70d281de3e3&fccid=0d0aa2b77d8a011b&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer, Loyalty</td>
      <td>Square</td>
      <td>--</td>
      <td>Use your passion for building great software to develop meaningful, delightful merchant and customer facing features that help our merchants connect with,…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=712a0b791af6e029&fccid=08bfce1064449178&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Senior Software Engineer</td>
      <td>MasterCard</td>
      <td>--</td>
      <td>Not afraid to speak your mind about software design and handle constructive feedback on ideas.We are on our way to rewrite our Web portal with the aim of…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=d0dcf98237cedd37&fccid=10b5c722d846df43&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer - AI Accelerator New Grad</td>
      <td>Tenstorrent</td>
      <td>--</td>
      <td>Work closely with machine learning engineers to discover the hardware and software requirements of current and future machine learning applications.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=cc1bc56758fe869f&fccid=b9aaccb88485deee&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>HTML/CSS Developer</td>
      <td>Recruiting From Scratch</td>
      <td>--</td>
      <td>Work with software development team.Proficiency in software engineering tools.Proficient with software engineering tools and applications.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=d847b2c2e8adda45&fccid=09e02654c2f26bbd&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer - Backend</td>
      <td>Perpetua</td>
      <td>--</td>
      <td>Design and build robust and scalable systems to generate business insights, reporting and analytics.Take primary ownership for the development and maintenance…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=0639d72b09780238&fccid=a00f1912ba0e5a8a&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer</td>
      <td>amdocs</td>
      <td>--</td>
      <td>You will follow Amdocs software engineering standards, applicable software development methodology and release processes, to ensure code is maintainable,…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=87d1752bd222de4e&fccid=3b6bf500a6749588&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>VELOCITY - Tangerine - Software Developer Intern - Summer 20...</td>
      <td>Scotiabank</td>
      <td>--</td>
      <td>You will use your knowledge of analysis, design and programming techniques, development tools and database technologies to develop software changes or resolve…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=b562e1fbbd8ba961&fccid=3002307a9e5b4706&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Frontend Engineer - ONT</td>
      <td>Canada Drives</td>
      <td>--</td>
      <td>Be an important part of building the technology that provides customers with a 100% online purchasing experience-from start to finish-including delivery right…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=8fa2bf0ae21c0c9d&fccid=1074c377135e4e8f&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Frontend Engineer - ONT</td>
      <td>Canada Drives</td>
      <td>--</td>
      <td>Be an important part of building the technology that provides customers with a 100% online purchasing experience-from start to finish-including delivery right…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=8fa2bf0ae21c0c9d&fccid=1074c377135e4e8f&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer for Fintech</td>
      <td>Hutsy</td>
      <td>$20 - $50 an hour</td>
      <td>Experience with large amounts of data and data science project experience.Identify technology-related opportunities and risks for delivering the company’s…</td>
      <td><a href="https://ca.indeed.com/company/Hutsy/jobs/Software-Engineer-Fintech-69e6f3d8cd9e5474?fccid=e03b5f753ab64f84&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>AWS CLOUD ENGINEER</td>
      <td>Capgemini</td>
      <td>--</td>
      <td>Responsible for detail documentations for cross training the next batch of system engineers and ensuring coverage as required per business needs.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=0a5fd8dadcb99c91&fccid=105ecfd0283f415f&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Staff Frontend Engineer</td>
      <td>Forethought</td>
      <td>--</td>
      <td>Solid grasp of computer science, algorithms, and data structures.5+ years experience in a software engineering role [Required].</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=8f15600c6a6bb318&fccid=c7cff1dec8c0c7cd&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer In Test</td>
      <td>amdocs</td>
      <td>--</td>
      <td>Develop, modify, and execute software test strategies.You will prioritize test execution, hands on validation and certification of the software readiness.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=edbc90b01abfb2db&fccid=3b6bf500a6749588&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer</td>
      <td>Morningstar</td>
      <td>--</td>
      <td>Experience scaling web-based software applications and services to 100M monthly requests.At least 3 year of object-oriented experience (Java or C++) in a…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=f7bb23d0d25c2765&fccid=acfb0b086b8f975d&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer (Frontend), Invoices</td>
      <td>Block</td>
      <td>--</td>
      <td>Strong communication skills and ability to work cross-functionally with other functions, such as designers, product managers, data scientists, marketing, and…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=d83ee12e47943d1f&fccid=0b40493c2b287beb&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Development Intern</td>
      <td>Bolt Logistics</td>
      <td>--</td>
      <td>Pursuing or have completed a program in software development or computer science.Experience in software development, with competencies in data structures and…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=20c330f5b685bf08&fccid=9319f0684bc2a818&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Graduate Software Engineer</td>
      <td>Orion Health</td>
      <td>--</td>
      <td>Education: Bachelor’s degree in information technology, computer science or engineering required.Experience: Ideally you will have experience with databases…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=8bc5621481b4f784&fccid=8ee0df5bb4a5e0ec&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Quality Assurance Engineer</td>
      <td>Amazon Dev Centre Canada ULC</td>
      <td>--</td>
      <td>Develop and implement automation plan to support international device software launches.Bachelor’s degree in Computer Science, Computer Engineering, Electrical…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=cb196e172dbc04bd&fccid=fe2d21eef233e94a&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Development Engineer (Front-end)</td>
      <td>Points</td>
      <td>--</td>
      <td>Share in responsibility for your team’s technical health: architecture, best practices, reliability, security, etc.</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=3162025a2136a1f3&fccid=da7e311c317bdfb0&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Development Engineer in Test</td>
      <td>Rakuten Kobo Inc.</td>
      <td>--</td>
      <td>Kobo is constantly looking to innovate in terms of product and features, but we'll be counting on you to push the products to their limits and ensure they meet…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=6c71c7ef5b01be8d&fccid=6588d6ed738320fc&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>HTML/CSS Developer</td>
      <td>Mejuri</td>
      <td>--</td>
      <td>At least 1 or 2 years of work experience using React JS, Git, NPM/Yarn, SCSS, ES6, Redux.“75 per cent of Mejuri’s customers are women buying for themselves,…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=97c850e6b5c05919&fccid=48b4435418204a7c&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer Developer</td>
      <td>TechnoBright Consulting</td>
      <td>$55 - $60 an hour</td>
      <td>Automate build, operate, and run aspects of software.Participate in team prioritization discussions with Product/Business stakeholders.</td>
      <td><a href="https://ca.indeed.com/company/TechnoBright-Consulting/jobs/Software-Engineer-Developer-1ea7128965e6f1ce?fccid=ec466c26731b2a4a&vjs=3">Link</a></td>
    </tr>
    <tr>
      <td>Software Engineer Intern</td>
      <td>Marvell</td>
      <td>--</td>
      <td>In addition to the on-chip software, the Toronto software team is also responsible for creation and maintenance of various Engineering utilities that aid in…</td>
      <td><a href="https://ca.indeed.com/rc/clk?jk=758647f1ec958111&fccid=749488582f5dfbfe&vjs=3">Link</a></td>
    </tr>
  </tbody>
</table>